# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# VSCode
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# Node
node_modules/

# 彩蛋提示（之 1 / 2）：
# 找到密碼並截圖
# （提示：secret，git show/tag，開頭為0520）
